



body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background-color: lightgrey;
}
*{
    box-sizing: border-box;
}
nav {
    display: flex;
    padding: 2%;
    height: 5%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#SearchContainer{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}

#MovieGrid{
    margin: 2.3%;
    height: auto;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap:0.5rem
}


.movieBox {
    width: 175px;
    height: 250px;
    background-color: white;
}
.movieBox:hover{
    filter: brightness(0.5);
    cursor:pointer;
}